[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
voluptuous = "*"
"boto3" = "*"
amun = "*"
pydgraph = "*"
python-dateutil = "*"
thoth-common = {git = "https://github.com/harshad16/common.git",ref = "update/build-analyser"}
thoth-python = {git = "https://github.com/harshad16/python.git",ref = "wip"}

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
coala-bears = "*"
flexmock = "*"
moto = "*"

[requires]
python_version = "3.6"
